
/* Laptop */
@media only screen and (min-width: 1024px) {

    .navbar {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        padding: 1rem calc(100% - 85%);
        margin-bottom: 3rem;
    }
    .navbar-right {
        display: flex;
        justify-content:flex-end;
        align-items: center;
        width: 30%;
        text-align: right;
        gap: 20%;
    }
    
    .navbar-left {
        width: 70%;
        text-align: left;
    }
}